#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
    border: 2px solid green;
    margin: auto;
    margin-top: 5rem;
}

.input {
    margin-bottom: 2rem;
}